In [48]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("nba_games.csv")
data

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,home,away,date,winner
0,0.509,0.490,0.381,0.144,22.6,87.8,53.9,50.0,6.7,8.2,...,18,8,5,16,20,87,BOS,PHI,16-Oct-18,1
1,0.525,0.479,0.274,0.189,37.0,71.9,56.3,66.7,6.8,13.0,...,21,12,6,14,21,100,GSW,OKC,16-Oct-18,1
2,0.551,0.533,0.413,0.239,16.4,74.4,41.8,51.2,7.8,17.6,...,26,5,4,21,25,113,CHO,MIL,17-Oct-18,0
3,0.506,0.457,0.261,0.239,29.2,86.5,54.1,53.8,5.0,9.1,...,28,9,5,17,23,100,DET,BRK,17-Oct-18,1
4,0.546,0.511,0.522,0.261,16.7,67.4,40.7,53.8,7.8,9.6,...,36,8,3,12,25,131,HOU,NOP,17-Oct-18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6264,0.592,0.557,0.342,0.253,15.8,78.0,51.1,72.5,4.4,7.0,...,26,5,4,8,15,93,DEN,MIA,1-Jun-23,1
6265,0.638,0.593,0.373,0.293,28.1,78.4,55.1,59.0,8.1,4.7,...,28,5,4,11,22,111,DEN,MIA,4-Jun-23,0
6266,0.468,0.429,0.380,0.207,18.2,63.9,36.3,58.8,7.7,4.8,...,28,3,5,13,18,109,MIA,DEN,7-Jun-23,0
6267,0.547,0.500,0.321,0.256,21.6,85.3,52.1,65.7,2.3,5.9,...,26,11,7,6,18,108,MIA,DEN,9-Jun-23,0
6268,0.499,0.482,0.333,0.274,25.0,80.7,56.4,55.3,6.2,11.5,...,18,9,7,8,21,89,DEN,MIA,12-Jun-23,1

In [3]:
data.shape

(6269, 66)

In [4]:
data.describe()

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,orb_opp,drb_opp,trb_opp,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,winner
count,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,...,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000,6269.000000
mean,0.574545,0.539204,0.387154,0.263929,23.153438,77.590796,50.566613,60.550949,7.525969,9.022332,...,10.095071,33.757378,43.852449,24.226192,7.539799,4.698517,13.395757,20.352847,110.793268,0.563407
std,0.061806,0.066105,0.078179,0.091440,7.256690,7.129995,5.292790,9.410224,2.846617,4.451263,...,3.741132,5.456388,6.576492,4.957176,2.891279,2.395559,3.881319,4.282641,12.477754,0.496003
min,0.380000,0.301000,0.109000,0.041000,0.000000,44.200000,31.900000,27.500000,0.000000,0.000000,...,0.000000,16.000000,23.000000,8.000000,0.000000,0.000000,2.000000,7.000000,68.000000,0.000000
25%,0.531000,0.494000,0.333000,0.200000,18.000000,72.700000,47.000000,54.200000,5.400000,5.800000,...,7.000000,30.000000,39.000000,21.000000,5.000000,3.000000,11.000000,17.000000,102.000000,0.000000
50%,0.572000,0.537000,0.383000,0.256000,22.900000,77.800000,50.500000,60.500000,7.300000,8.600000,...,10.000000,34.000000,44.000000,24.000000,7.000000,4.000000,13.000000,20.000000,111.000000,1.000000
75%,0.617000,0.584000,0.438000,0.321000,28.100000,82.600000,54.100000,67.300000,9.300000,11.800000,...,12.000000,37.000000,48.000000,27.000000,9.000000,6.000000,16.000000,23.000000,119.000000,1.000000
max,0.798000,0.787000,0.692000,0.739000,50.000000,100.000000,68.000000,89.500000,21.400000,38.500000,...,29.000000,60.000000,73.000000,47.000000,19.000000,19.000000,30.000000,35.000000,176.000000,1.000000

In [5]:
data["date"] = pd.to_datetime(data["date"], dayfirst=True)

In [6]:
data.date.dt.month

0       10
1       10
2       10
3       10
4       10
        ..
6264     6
6265     6
6266     6
6267     6
6268     6
Name: date, Length: 6269, dtype: int64

Test is a copy of the orginal that I use for testing

In [7]:
test = data.copy()

In [8]:
test.head()

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,home,away,date,winner
0,0.509,0.490,0.381,0.144,22.6,87.8,53.9,50.0,6.7,8.2,...,18,8,5,16,20,87,BOS,PHI,2018-10-16,1
1,0.525,0.479,0.274,0.189,37.0,71.9,56.3,66.7,6.8,13.0,...,21,12,6,14,21,100,GSW,OKC,2018-10-16,1
2,0.551,0.533,0.413,0.239,16.4,74.4,41.8,51.2,7.8,17.6,...,26,5,4,21,25,113,CHO,MIL,2018-10-17,0
3,0.506,0.457,0.261,0.239,29.2,86.5,54.1,53.8,5.0,9.1,...,28,9,5,17,23,100,DET,BRK,2018-10-17,1
4,0.546,0.511,0.522,0.261,16.7,67.4,40.7,53.8,7.8,9.6,...,36,8,3,12,25,131,HOU,NOP,2018-10-17,0

Seperating the seasons to create a dataset to use for machine learning. Containing only numbers

In [9]:
begin_date = pd.to_datetime('2019-10-22')

In [10]:
season1 = test[(test['date'] < begin_date)]
len(season1)

1312

In [11]:
begin_date = pd.to_datetime('2019-10-22') 
end_date = pd.to_datetime('2020-10-11')

In [12]:
season2 = test[(test['date'] >= begin_date) & (test['date'] <= end_date)]
len(season2)

1143

In [13]:
begin_date2 = pd.to_datetime('2020-12-22') 
end_date2 = pd.to_datetime('2021-07-20')

In [14]:
season3 = test[(test['date'] >= begin_date2) & (test['date'] <= end_date2)]
len(season3)

1171

In [15]:
begin_date3 = pd.to_datetime('2021-10-19')
end_date3 = pd.to_datetime('2022-06-16')

In [16]:
season4 = test[(test['date'] >= begin_date3) & (test['date'] <= end_date3)]
len(season4)

1323

In [17]:
begin_date4 = pd.to_datetime('2022-10-18')
end_date4 = pd.to_datetime('2023-06-12')

In [18]:
season5 = test[(test['date'] >= begin_date4) & (test['date'] <= end_date4)]
len(season5)

1320

In [19]:
# adding rank column to the seasons

In [20]:
team_map_18_19 = {'MIL': 1, 'TOR': 2, 'GSW': 3, 'DEN': 4, 'HOU': 5, 'POR': 6, 'PHI': 7, 'UTA': 8, 'BOS': 9, 'OKC': 10, 'IND': 11, 'LAC': 12, 'SAS': 13, 'BRK': 14, 'ORL': 15, 'DET': 16, 'CHO': 17, 'MIA': 18, 'SAC': 19, 'LAL': 20, 'MIN': 21, 'DAL': 22, 'MEM': 23, 'NOP': 24, 'WAS': 25, 'ATL': 26, 'CHI': 27, 'CLE': 28, 'PHO': 29, 'NYK': 30}
team_map_19_20 = {'MIL': 1, 'TOR': 2, 'LAL': 3, 'LAC': 4, 'BOS': 5, 'DEN': 6, 'IND': 7, 'HOU': 8, 'MIA': 9, 'OKC': 10, 'UTA': 11, 'DAL': 12, 'PHI': 13, 'BRK': 14, 'POR': 15, 'MEM': 16, 'PHO': 17, 'ORL': 18, 'SAS': 19, 'SAC': 20, 'NOP': 21, 'WAS': 22, 'CHO': 23, 'CHI': 24, 'NYK': 25, 'ATL': 26, 'DET': 27, 'CLE': 28, 'MIN': 29, 'GSW': 30}
team_map_20_21 = {'UTA': 1, 'PHO': 2, 'PHI': 3, 'BRK': 4, 'DEN': 5, 'LAC': 6, 'MIL': 7, 'DAL': 8, 'LAL': 9, 'POR': 10, 'ATL': 11, 'NYK': 12, 'MIA': 13, 'GSW': 14, 'MEM': 15, 'BOS': 16, 'WAS': 17, 'IND': 18, 'CHO': 19, 'SAS': 20, 'CHI': 21, 'NOP': 22, 'SAC': 23, 'TOR': 24, 'MIN': 25, 'CLE': 26, 'OKC': 27, 'ORL': 28, 'DET': 29, 'HOU': 30}
team_map_21_22 = {'PHO': 1, 'MEM': 2, 'GSW': 3, 'MIA': 4, 'DAL': 5, 'BOS': 6, 'MIL': 7, 'PHI': 8, 'UTA': 9, 'DEN': 10, 'TOR': 11, 'CHI': 12, 'MIN': 13, 'BRK': 14, 'CLE': 15, 'ATL': 16, 'CHO': 17, 'LAC': 18, 'NYK': 19, 'NOP': 20, 'WAS': 21, 'SAS': 22, 'LAL': 23, 'SAC': 24, 'POR': 25, 'IND': 26, 'OKC': 27, 'DET': 28, 'ORL': 29, 'HOU': 30}
team_map_22_23 = {'MIL': 1, 'BOS': 2, 'PHI': 3, 'DEN': 4, 'CLE': 5, 'MEM': 6, 'SAC': 7, 'NYK': 8, 'BRK': 9, 'PHO': 10, 'GSW': 11, 'LAC': 12, 'MIA': 13, 'LAL': 14, 'MIN': 15, 'NOP': 16, 'ATL': 17, 'TOR': 18, 'CHI': 19, 'OKC': 20, 'DAL': 21, 'UTA': 22, 'IND': 23, 'WAS': 24, 'ORL': 25, 'POR': 26, 'CHO': 27, 'HOU': 28, 'SAS': 29, 'DET': 30}

In [21]:
season1['rank_home'] = ''
season1['rank_away'] = ''

C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\1032106652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season1['rank_home'] = ''
C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\1032106652.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season1['rank_away'] = ''

In [22]:
season1

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,blk_opp,tov_opp,pf_opp,pts_opp,home,away,date,winner,rank_home,rank_away
0,0.509,0.490,0.381,0.144,22.6,87.8,53.9,50.0,6.7,8.2,...,5,16,20,87,BOS,PHI,2018-10-16,1,,
1,0.525,0.479,0.274,0.189,37.0,71.9,56.3,66.7,6.8,13.0,...,6,14,21,100,GSW,OKC,2018-10-16,1,,
2,0.551,0.533,0.413,0.239,16.4,74.4,41.8,51.2,7.8,17.6,...,4,21,25,113,CHO,MIL,2018-10-17,0,,
3,0.506,0.457,0.261,0.239,29.2,86.5,54.1,53.8,5.0,9.1,...,5,17,23,100,DET,BRK,2018-10-17,1,,
4,0.546,0.511,0.522,0.261,16.7,67.4,40.7,53.8,7.8,9.6,...,3,12,25,131,HOU,NOP,2018-10-17,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,0.493,0.431,0.404,0.277,29.4,85.0,53.8,48.6,8.0,4.2,...,5,15,26,109,TOR,GSW,2019-06-02,0,,
1308,0.523,0.462,0.396,0.330,27.1,84.8,50.6,69.4,8.0,6.8,...,10,14,22,123,GSW,TOR,2019-06-05,0,,
1309,0.527,0.500,0.346,0.269,20.0,82.9,51.9,74.3,6.3,11.1,...,4,9,21,105,GSW,TOR,2019-06-07,0,,
1310,0.542,0.494,0.376,0.318,29.5,83.3,53.8,50.0,6.4,12.5,...,7,15,22,106,TOR,GSW,2019-06-10,0,,
1311,0.590,0.556,0.388,0.375,28.2,73.8,51.9,71.8,9.5,12.2,...,2,12,23,114,GSW,TOR,2019-06-13,0,,

In [23]:
season2['rank_home'] = season2['home'].map(team_map_18_19)

season2['rank_away'] = season2['away'].map(team_map_18_19)
season2[['rank_home', 'rank_away']]

C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\1451161198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season2['rank_home'] = season2['home'].map(team_map_18_19)
C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\1451161198.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season2['rank_away'] = season2['away'].map(team_map_18_19)

      rank_home  rank_away
1312         12         20
1313          2         24
1314         14         21
1315         17         27
1316         22         25
...         ...        ...
2450         20         18
2451         18         20
2452         18         20
2453         20         18
2454         18         20

[1143 rows x 2 columns]

In [24]:
season3['rank_home'] = season3['home'].map(team_map_19_20)
season3['rank_away'] = season3['away'].map(team_map_19_20)
season3[['rank_home', 'rank_away']]

C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\2369752580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season3['rank_home'] = season3['home'].map(team_map_19_20)
C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\2369752580.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season3['rank_away'] = season3['away'].map(team_map_19_20)

      rank_home  rank_away
2455         14         30
2456          3          4
2457          5          1
2458         24         26
2459         28         23
...         ...        ...
3621         17          1
3622          1         17
3623          1         17
3624         17          1
3625          1         17

[1171 rows x 2 columns]

In [25]:
season4['rank_home'] = season4['home'].map(team_map_20_21)
season4['rank_away'] = season4['away'].map(team_map_20_21)
season4[['rank_home', 'rank_away']]

C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\3414276187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season4['rank_home'] = season4['home'].map(team_map_20_21)
C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\3414276187.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season4['rank_away'] = season4['away'].map(team_map_20_21)

      rank_home  rank_away
3626          9         14
3627          7          4
3628         19         18
3629         29         21
3630         15         26
...         ...        ...
4944         14         16
4945         16         14
4946         16         14
4947         14         16
4948         16         14

[1323 rows x 2 columns]

In [26]:
season5['rank_home'] = season5['home'].map(team_map_21_22)
season5['rank_away'] = season5['away'].map(team_map_21_22)
season5[['rank_home', 'rank_away']]

C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\3425003348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season5['rank_home'] = season5['home'].map(team_map_21_22)
C:\Users\aruth\AppData\Local\Temp\ipykernel_17504\3425003348.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season5['rank_away'] = season5['away'].map(team_map_21_22)

      rank_home  rank_away
4949          6          8
4950          3         23
4951         16         30
4952         14         20
4953         28         29
...         ...        ...
6264         10          4
6265         10          4
6266          4         10
6267          4         10
6268         10          4

[1320 rows x 2 columns]

In [111]:
seasons = pd.concat([season1, season2, season3, season4, season5])
seasons.head(20)

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,blk_opp,tov_opp,pf_opp,pts_opp,home,away,date,winner,rank_home,rank_away
0,0.509,0.490,0.381,0.144,22.6,87.8,53.9,50.0,6.7,8.2,...,5,16,20,87,BOS,PHI,2018-10-16,1,,
1,0.525,0.479,0.274,0.189,37.0,71.9,56.3,66.7,6.8,13.0,...,6,14,21,100,GSW,OKC,2018-10-16,1,,
2,0.551,0.533,0.413,0.239,16.4,74.4,41.8,51.2,7.8,17.6,...,4,21,25,113,CHO,MIL,2018-10-17,0,,
3,0.506,0.457,0.261,0.239,29.2,86.5,54.1,53.8,5.0,9.1,...,5,17,23,100,DET,BRK,2018-10-17,1,,
4,0.546,0.511,0.522,0.261,16.7,67.4,40.7,53.8,7.8,9.6,...,3,12,25,131,HOU,NOP,2018-10-17,0,,
5,0.626,0.627,0.313,0.157,38.2,86.3,67.1,61.7,2.1,12.7,...,3,7,18,83,IND,MEM,2018-10-17,1,,
6,0.497,0.443,0.318,0.273,17.6,73.1,45.6,60.0,3.0,14.3,...,9,10,22,107,LAC,DEN,2018-10-17,0,,
7,0.559,0.515,0.333,0.313,20.8,83.7,50.5,46.7,10.6,11.1,...,3,24,30,107,NYK,ATL,2018-10-17,1,,
8,0.483,0.452,0.266,0.330,26.9,72.5,49.5,51.3,6.8,10.9,...,5,16,28,101,ORL,MIA,2018-10-17,1,,
9,0.687,0.660,0.420,0.198,17.6,79.2,53.7,79.5,5.4,3.6,...,5,9,16,100,PHO,DAL,2018-10-17,1,,
10,0.568,0.553,0.200,0.189,11.4,86.5,45.7,34.7,7.6,5.8,...,4,17,19,123,SAC,UTA,2018-10-17,0,,
11,0.530,0.489,0.269,0.312,37.3,70.2,53.1,55.0,3.1,5.6,...,2,11,27,108,SAS,MIN,2018-10-17,1,,
12,0.575,0.565,0.359,0.217,18.6,71.4,46.7,46.7,6.0,10.6,...,0,16,25,104,TOR,CLE,2018-10-17,1,,
13,0.598,0.538,0.387,0.323,24.4,89.8,58.5,68.2,9.2,11.8,...,6,12,23,108,PHI,CHI,2018-10-18,1,,
14,0.568,0.505,0.370,0.290,26.9,83.3,54.0,47.7,8.1,15.9,...,6,15,26,119,POR,LAL,2018-10-18,1,,
15,0.570,0.512,0.321,0.481,17.5,60.0,42.1,50.0,6.9,24.2,...,5,16,26,113,WAS,MIA,2018-10-18,0,,
16,0.625,0.573,0.400,0.320,33.3,78.2,60.4,59.5,2.1,8.7,...,1,3,19,105,BRK,NYK,2018-10-19,1,,
17,0.558,0.500,0.321,0.444,21.3,71.7,48.0,60.0,3.1,4.8,...,4,12,29,92,LAC,OKC,2018-10-19,1,,
18,0.656,0.623,0.321,0.531,19.4,75.6,50.6,72.7,8.5,7.5,...,5,19,31,117,MEM,ATL,2018-10-19,1,,
19,0.577,0.565,0.495,0.226,25.6,81.3,54.9,61.4,8.6,11.6,...,3,17,25,101,MIL,IND,2018-10-19,1,,

In [112]:
seasons.drop(['home', 'away'], axis=1, inplace=True)
seasons.head()

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,date,winner,rank_home,rank_away
0,0.509,0.490,0.381,0.144,22.6,87.8,53.9,50.0,6.7,8.2,...,18,8,5,16,20,87,2018-10-16,1,,
1,0.525,0.479,0.274,0.189,37.0,71.9,56.3,66.7,6.8,13.0,...,21,12,6,14,21,100,2018-10-16,1,,
2,0.551,0.533,0.413,0.239,16.4,74.4,41.8,51.2,7.8,17.6,...,26,5,4,21,25,113,2018-10-17,0,,
3,0.506,0.457,0.261,0.239,29.2,86.5,54.1,53.8,5.0,9.1,...,28,9,5,17,23,100,2018-10-17,1,,
4,0.546,0.511,0.522,0.261,16.7,67.4,40.7,53.8,7.8,9.6,...,36,8,3,12,25,131,2018-10-17,0,,

## DROPPING WINNER

In [113]:
seasons.drop('winner', axis=1, inplace=True)
seasons.head()

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,trb_opp,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,date,rank_home,rank_away
0,0.509,0.490,0.381,0.144,22.6,87.8,53.9,50.0,6.7,8.2,...,47,18,8,5,16,20,87,2018-10-16,,
1,0.525,0.479,0.274,0.189,37.0,71.9,56.3,66.7,6.8,13.0,...,45,21,12,6,14,21,100,2018-10-16,,
2,0.551,0.533,0.413,0.239,16.4,74.4,41.8,51.2,7.8,17.6,...,57,26,5,4,21,25,113,2018-10-17,,
3,0.506,0.457,0.261,0.239,29.2,86.5,54.1,53.8,5.0,9.1,...,39,28,9,5,17,23,100,2018-10-17,,
4,0.546,0.511,0.522,0.261,16.7,67.4,40.7,53.8,7.8,9.6,...,54,36,8,3,12,25,131,2018-10-17,,

## DROPPING DATE

In [114]:
seasons.drop('date', axis=1, inplace=True)
seasons.head()

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,drb_opp,trb_opp,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,rank_home,rank_away
0,0.509,0.490,0.381,0.144,22.6,87.8,53.9,50.0,6.7,8.2,...,41,47,18,8,5,16,20,87,,
1,0.525,0.479,0.274,0.189,37.0,71.9,56.3,66.7,6.8,13.0,...,29,45,21,12,6,14,21,100,,
2,0.551,0.533,0.413,0.239,16.4,74.4,41.8,51.2,7.8,17.6,...,46,57,26,5,4,21,25,113,,
3,0.506,0.457,0.261,0.239,29.2,86.5,54.1,53.8,5.0,9.1,...,34,39,28,9,5,17,23,100,,
4,0.546,0.511,0.522,0.261,16.7,67.4,40.7,53.8,7.8,9.6,...,40,54,36,8,3,12,25,131,,

In [131]:
# somehow this random character got pickup when data scraping
seasons = seasons.replace(['`1'], 1)

In [134]:
seasons = seasons.replace([''], 0)

In [154]:
seasons.head()

,ts%,efg%,3par,ftr,orb%,drb%,trb%,ast%,stl%,blk%,...,drb_opp,trb_opp,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,rank_home,rank_away
0,0.509,0.490,0.381,0.144,22.6,87.8,53.9,50.0,6.7,8.2,...,41,47,18,8,5,16,20,87,0,0
1,0.525,0.479,0.274,0.189,37.0,71.9,56.3,66.7,6.8,13.0,...,29,45,21,12,6,14,21,100,0,0
2,0.551,0.533,0.413,0.239,16.4,74.4,41.8,51.2,7.8,17.6,...,46,57,26,5,4,21,25,113,0,0
3,0.506,0.457,0.261,0.239,29.2,86.5,54.1,53.8,5.0,9.1,...,34,39,28,9,5,17,23,100,0,0
4,0.546,0.511,0.522,0.261,16.7,67.4,40.7,53.8,7.8,9.6,...,40,54,36,8,3,12,25,131,0,0

## CONVERTING SEASONS TO NUMPY ARRAY

In [157]:
print(len(seasons))
sum(seasons.rank_home.isna())

6269

0

In [31]:
seasons_test = pd.concat([season2, season3, season4, season5])
print(len(seasons_test))

4957

In [32]:
def old_dataset_filter(home_code, away_code, dataset):
    team1_home = dataset[dataset["home"] == home_code].tail(20)
    team1_away = dataset[dataset["away"] == home_code].tail(20)
    team1_df = pd.concat([team1_home, team1_away])
    #team1_df = team1_df.sort_values('date', ascending=False)
    
    team2_home = dataset[dataset["home"] == away_code].tail(20)
    team2_away = dataset[dataset["away"] == away_code].tail(20)
    team2_df = pd.concat([team2_home, team2_away])
    #team2_df = team2_df.sort_values('date', ascending=False)
    #daway = dataset[dataset["home"] == away_code].tail(20)

    combined_data = pd.concat([team1_df, team2_df])
    return combined_data

This 'dataset_filter' function grabs previous 40 games for both teams
and combines them into a dataset.

In [153]:
def dataset_filter(home_code, away_code, game_date):
    dataset = test.loc[(test['date'] < game_date)]

    team1_home = dataset[dataset["home"] == home_code].tail(20)
    team1_away = dataset[dataset["away"] == home_code].tail(20)
    team1_df = pd.concat([team1_home, team1_away])

    team2_home = dataset[dataset["home"] == away_code].tail(20)
    team2_away = dataset[dataset["away"] == away_code].tail(20)
    team2_df = pd.concat([team2_home, team2_away])

    combined_data = pd.concat([team1_df, team2_df])
    # both the seasons and test datasets have the same index
    # below I am saving the index column to a list and applying it to the seasons dataset so that it returns the same data
    
    combined_data_index = list(combined_data.index)
    combined_seasons_data = seasons.iloc[combined_data_index]
    # 11/15 i changed seasons to seasons_std to return a standardized dataset
    
    return combined_seasons_data

- loops through each row in our test dataset
- first grabs the date and checks that it is not in the first season (the first season is for training)
- runs the dataset_filter function and saved new dataset to 'file'
- change the date, then lastly save to pdf

In [ ]:
def date_field_preprocessing(file_date):
    ## This method deletes days from the 'date' field
    file_date_list = list(file_date)

    new_date_list = []
    for t in file_date:
        date_num = str(t).replace(' days', '')
        new_date_list.append(date_num)
        
        
    new_date_series = pd.Series(new_date_list)
    return new_date_series

- change the filepaths to 
train -> home_wins 
         away_wins
test  -> home_wins
         away_wins
         
 - make sure the only grab season 2 3 and 4 for training
 - and season 5 for test

In [ ]:
for index in test.index:
    game_date = test['date'][index]
    #last_szn1_game = '2019-06-13'
    
    if game_date < pd.Timestamp('2022-10-18'):
        # these if statements ensure we are not grabbing from the first season or last(test) season
        if game_date > pd.Timestamp('2019-06-13'):
            # the date above  is the last game of the first season
            homecode = test['home'][index]
            awaycode = test['away'][index]
            pts_home = test['pts'][index]
            pts_opp = test['pts_opp'][index]

            #changing date to date difference
            file = dataset_filter(homecode, awaycode, game_date)
            file = file.copy()
            
            #file_date = game_date - file['date']
            #new_file_date_series = date_field_preprocessing(file_date)
            #file.drop('date', axis=1, inplace=True)
            #file['date'] = new_file_date_series
            #file['date'] = file.date.replace(' days', '')
            
            output_date = str(game_date)[0:10]
            output_date = output_date.replace('-', '_')
            filename = f'{homecode}_{awaycode}_{output_date}.csv'
            filepath1 = f'X_train/home_wins/{filename}'
            filepath2 = f'X_train/away_wins/{filename}'
            filepath3 = f'X_test/home_wins/{filename}'
            filepath4 = f'X_test/away_wins/{filename}'

            
            

            # .copy() to create new df and reduce change for error
            new_file = file.copy()


            if pts_home > pts_opp:
                file.to_csv(filepath1)
            else: 
                file.to_csv(filepath2)
    else: 
            
        if game_date > pd.Timestamp('2019-06-13'):
            # the date above  is the last game of the first season
            homecode = test['home'][index]
            awaycode = test['away'][index]
            pts_home = test['pts'][index]
            pts_opp = test['pts_opp'][index]

            #changing date to date difference
            file = dataset_filter(homecode, awaycode, game_date)
            file = file.copy()
            #file_date = game_date - file['date']
            #new_file_date_series = date_field_preprocessing(file_date)
            #file.drop('date', axis=1, inplace=True)

            #file['date'] = str(file['date'])[0:3]
            
            output_date = str(game_date)[0:10]
            output_date = output_date.replace('-', '_')
            filename = f'{homecode}_{awaycode}_{output_date}.csv'
            filepath1 = f'X_train/home_wins/{filename}'
            filepath2 = f'X_train/away_wins/{filename}'
            filepath3 = f'X_test/home_wins/{filename}'
            filepath4 = f'X_test/away_wins/{filename}'

           
            

            # .copy() to create new df and reduce change for error
            new_file = file.copy()


            if pts_home > pts_opp:
                file.to_csv(filepath3)
            else: 
                file.to_csv(filepath4)